# Dependencies
node_modules/

# Environment files
.env
.env.local


# Logs
*.log
logs/
logs.txt

# IDE/Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
/.github

# Wrangler/Cloudflare
.wrangler/
